

# <span style="color:tomato">Byte & Beyond </span>

<span style="color:mediumseagreen">* Team members : Cate , Frank , Nthabiseng , Tracey-Lee , Winnie</span>

# List for names and ages.

In [2]:
names = [] # Stores 10 names 
ages = [] # stores corresponding ages

In [3]:
names = ["Lehlogonolo", "Sam", "Charlie", "David", "Winnie", "Frank", "Tracey", "Hannah", "Ivy", "Nthabi"]  
ages = [24, 30, 22, 28, 27, 28, 23, 44, 31, 24]

# Displaying the data

In [11]:
print("Name :",names)
print("Age  :",ages)

Name : ['Lehlogonolo', 'Sam', 'Charlie', 'David', 'Winnie', 'Frank', 'Tracey', 'Hannah', 'Ivy', 'Nthabi']
Age  : [24, 30, 22, 28, 27, 28, 23, 44, 31, 24]

# Displaying in a table format

In [10]:
import pandas as pd  
data = {"Name": names, "Age": ages}  
df = pd.DataFrame(data)  
print(df)

          Name  Age
0  Lehlogonolo   24
1          Sam   30
2      Charlie   22
3        David   28
4       Winnie   27
5        Frank   28
6       Tracey   23
7       Hannah   44
8          Ivy   31
9       Nthabi   24

# Finding the oldest/yougest

In [12]:
oldest = max(ages)  
youngest = min(ages)  
print("Oldest Age  :", oldest)  
print("Youngest Age:", youngest)

Oldest Age  : 44
Youngest Age: 22